@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: scroll !important;
    margin: 0;
    background-color: #f7f6e4;
    color: #444341;
}

.header {
    padding: 12px;
    display: grid;
    grid:
        "logo control actions" auto / auto 1fr auto;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    grid-area: logo;
}

.header .search {
    grid-area: control;
}

.header .nav {
    grid-area: actions;
}

.search {
    height: 35px;
    margin: 4px 16px;
    padding: 4px 16px;
    flex-grow: 1;
    border: 3px solid #444341;
    border-radius: 4px;
}

.search:focus {
    outline: 3px solid #cdbfec;
}

.nav {
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    margin: 4px;
    list-style-type: none;
}

.nav__item {
    padding: 0 12px;
}

.nav__item a {
    text-decoration: none;
    color: #444341;
}

.nav__item--current a {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

.container {
    margin: 16px 5vw;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 4px solid #444341;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__header {
    padding: 8px;
}

.card__header--title {
    text-align: center;
}

.card__header--title h1,
.card__header--title h2,
.card__header--title h3,
.card__header--title h4,
.card__header--title h5,
.card__header--title h6 {
    text-transform: uppercase;
}

.card__header--purple {
    background-color: rgb(206, 192, 236, 0.4)
}

.card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.over-content {
    position: absolute;
}

.over-content--right {
    top: -16px;
    right: 16px;
}

.over-content--left {
    bottom: -16px;
    right: 16px;
}

.over-content--cart-product {
    bottom: -8px;
    right: -4px;
}

.card__body {
    width: 100%;
    padding: 4px 8px;
}

.separator {
    border-style: dotted none none;
    border-width: 4px;
    border-color: #444341;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: center;
    overflow: hidden;
}

.image {
    object-fit: cover;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.amount {
    font-size: 20px;
    font-weight: bold;
}

.amount--dollar::before {
    content: '$';
}

.btn {
    margin: 2px;
    padding: 4px;
    border: 3px solid #444341;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 4px;
    background: none;
    outline: none;
    cursor: pointer;
}

.btn:active {
    border: 3px solid rgb(68, 67, 65, 0.5);
    color: rgb(68, 67, 65, 0.5);
}

.btn--fill {
    width: 100%;
}

.btn--success {
    border: 3px solid #8ee38d;
    color: #8ee38d;
}

.btn--cancel {
    border: 3px solid #e38d8d;
    color: #e38d8d;
}

.link-add {
    color: #8ee38d;
}

.link-remove {
    color: #e38d8d;
}

.link-close {
    color: #e38d8d;
    font-size: 24px;
}

.card--product {
    width: 350px;
    height: 350px;
}

.text {
    margin: 4px;
    font-size: 16px;
}

.cart {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #444341;
    padding: 8px;
    background-color: #f7f6e4;
    width: 400px;
    height: 100%;
    top: 0;
    right: -400px;
    transition: .5s;
    overflow-y: scroll;
}

.cart--show {
    right: 0;
}


.cart__body {
    height: 100%;
}

.cart__division {
    width: 100%;
}

.card--simple {
    column-gap: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-top: 1px solid rgb(68, 67, 65, 0.5);
    border-bottom: 1px solid rgb(68, 67, 65, 0.5);
    height: auto;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #444341;
    border-radius: 5px;
    padding: 4px;
}

.quantity input[type="range"] {
    display: none;
}

.quantity input[type="text"] {
    width: 40px;
    text-align: center;
    margin: 0 4px;
    background: none;
    border: 1px solid rgb(68, 67, 65, 0.5);
    border-radius: 4px;
}

.quantity input[type="text"]:focus {
    outline: 3px solid #cdbfec;
}

.quantity button {
    border: none;
    background: none;
    width: 24px;
    height: 24px;
}

.quantity .plus:hover {
    color: #8ee38d;
}

.quantity .minus:hover {
    color: #e38d8d;
}

#CartOpen {
    position: relative;
}

#Qty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width: 18px;
    height: 18px;
    padding: 2px;
    background-color: #444341;
    border-radius: 50%;
    color: #FFF;
    font-weight: 500;
    position: absolute;
    bottom: -6px;
    right: -12px;
}

.nav__item--options {
    position: relative;
}

.nav__item--options::after {
    font-family: "Font Awesome 5 Free";
    content: '\f0d7';
}

.nav-options {
    padding: 8px;
    position: absolute;
    background-color: #f7f6e4;
    border: 2px solid #444341;
    border-radius: 4px;
    right: 12px;
    letter-spacing: 1px;
    display: none;
}

.nav_options__item {
    text-transform: none;
    font-weight: initial;
}

.nav_options__item a::before {
    font-family: "Font Awesome 5 Free";
    content: '\f25a';
    margin-right: 4px;
}

.nav-options__list {
    list-style-type: none;
    padding: 0;
}


.table-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    padding: 16px 64px;
}

.table-card__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 64px;
    background-color: #ebeadf;
    border-radius: 8px;
}

.table-card .table-card__row:nth-child(odd) {
    border-left: 4px solid #b59bee;
}

.table-card .table-card__row:nth-child(even) {
    border-left: 4px solid #ebc47d;
}

#FrmProducto {
    border: none;
}

.table-card__column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    max-width: 240px;
}

.table-card__column--index {
    font-size: 25px;
    min-width: 60px;
    max-width: 120px;
    border-right: 1px dotted #444341;
    padding-right: 64px;
}

.image--circle {
    border-radius: 50%;
    box-shadow:0px 0px 20px 5px rgba(100,100,100,0.1);
    border: 1px solid rgb(68, 67, 65, 0.5);
}

.image-label {
    cursor: pointer;
}

.input {
    width: 100%;
    margin: 4px 8px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid rgb(68, 67, 65, 0.5);
    text-align: center;
    background: none;
}

.input::placeholder {
    text-align: center;
}

.input:focus {
    outline: 3px solid #cdbfec;
}

.input--amount {
    border: 1px solid rgb(68, 67, 65, 0.5);
    border-radius: 4px;
    padding: 4px 8px;
}

.control {
    font-size: 18px;
    margin: 0 18px;
    color: #444341;
}

.control--update:hover {
    color:#ebc47d;
}

.control--delete:hover {
    color: #e38d8d;
}

.authors {
    margin: 64px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: stretch;
    column-gap: 16px;
    row-gap: 16px;
}

.authors__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #444341;
    border-radius: 4px;
    padding: 16px;
}

.authors__text {
    letter-spacing: 1px;
}

.authors__text--bold {
    font-weight: bold;
}

@media only screen and (max-width: 1620px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .table-card__column {
        min-width: 200px;
        max-width: 200px;
    }

    .table-card__column--index {
        min-width: 60px;
        max-width: 60px;
    }

    .authors {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1210px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .table-card__row {
        flex-direction: column;
        row-gap: 16px;
        padding: 32px 16px;
    }

    .table-card__column {
        min-width: initial;
        max-width: initial;
    }

    .table-card__column--index {
        min-width: initial;
        max-width: initial;
        border: none;
        border-bottom: 1px dotted #444341;
        padding: 0
    }

    .authors {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart--show {
        border: none;
        width: 100%;
    }

    .authors {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Movil grande */
@media only screen and (max-width: 720px) {
    .header {
        grid:
            "logo actions actions" auto "control control control" 1fr / auto 1fr auto;
    }

    .header .nav {
        display: flex;
        justify-content: flex-end;
    }
}